{% extends "base.html" %}
{% block content %}
    <h3> Your clubs :</h3>
    <table class="table table-dark">
        <thead>
            <th>Name</th>
            <th>Owner</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Desc</th>
            <th>Action</th>
        </thead>
             {% for club in clubs%}
            <tr>
            <td><a href="/clubs/{{club.id}}">{{club.name}}</a></td>
            <td>Owner</td>
            <td>{{club.date_start}}</td>
            <td>{{club.date_end}}</td>
            <td>{{club.desc}}</td>
            <td><a href="clubs/{{club.id}}/delete"> Remove </a> |  
                <a href="clubs/edit/{{club.id}}">Edit</a>  |
            </td>
        </tr> 
       {% endfor %}

            <!-- User is member of  -->
            <tr>
                <td><a href="/clubs/{{club.id}}">Name</a></td>
                <td>Owner</td>
                <td>start date</td>
                <td>end date</td>
                <td>desc</td>
            <td><a href="/clubs/{{club.id}}/cancel">Cancel</a></td>
        </tr> 
           
    </table> <br><br>
    <a href="/clubs/new"><button class="btn btn-primary">Create a new club </button></a>
<br><br>
    <h3> Others people clubs :</h3>
<table  class="table">
        <thead>
            <th>Owner</th>
            <th>Club</th>
            <th> Start Date</th>
            <th> End Date</th>
            <th>desc</th>
            <th>join</th>
        </thead>
        <!-- for loop -->
        <tr>
        <td>Owner name</td>
            <td><a href="/clubs/{{ club.id }}">club name</a></td>
            <td>start date</td>
            <td>end date</td>
            <td>desc</td>
            <td><a href="/clubs/{{club.id}}/join">Join</a></td>
    <!-- endfor -->
</table>

{% endblock content %}