/* 
body{
    background-color: gray;
    color: white;
    font-size: 20px;
    
}
#wrapper{
    
    width: 990px;
    margin: 0 auto;
}
table, th, td {
    border: 1px solid black;
    margin-top: 20px;
  }
  
th, td {
    padding: 10px;
    margin: 10px;
} */