{% extends "base.html" %}
{% block content %} 
<body>
    <div id="header">
        <h1> Add a Club</h1>
    <form action="/clubs/create" method="POST">
        {%csrf_token%}
        <div id="form">
            <p>Name: <input type="text" name="name" value={{name}}></p>
            <p>Description: <input type="text" name="desc"  value={{desc}}></p>
            <p>Start From: <input type="date" name="date_start" >
            <p>End Date <input type="date" name="date_end"></p>
            <button type="submit" class="button">Add</button>
        </div>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="text-danger" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
    <a href="/">Cancel</a>
{% endblock %}